/bin/
BigData_Analysis/.DS_Store
BigData_Analysis/.metals/metals.log
BigData_Analysis/project/.DS_Store
BigData_Analysis/project/project/.DS_Store
BigData_Analysis/project/target/.DS_Store
BigData_Analysis/target/.DS_Store
BigData_Analysis/target/global-logging/sbt-global-log8829581481284358051.log
BigData_Analysis/target/scala-2.12/.DS_Store
BigData_Analysis/target/streams/.DS_Store
BigData_Analysis/.DS_Store
BigData_Analysis/.metals/metals.log
.DS_Store
